{% extends 'admin/base.html.twig' %}

{% block title 'Editer la révision' %}

{% block body %}
  <form action="{{ path('admin_revision_show', {id: revision.id}) }}" method="post" class="stack">

    <div class="flex">
      <div class="dashboard-title" style="margin-bottom: 0;">
        {{ icon('pen') }}
        Editer la révision
      </div>
      <div class="form-group flex" style="gap: .5rem;">
        <input id="revision-rejection-comment" name="comment" type="text" value="" placeholder="Raison du refus" class="form-control">
        <button disabled type="submit" name="delete" class="flex-none btn-danger"
                onclick="return confirm('Voulez vous vraiment refuser cette révision ?')">
          Refuser
        </button>
        <button type="submit" class="flex-none btn-primary">
          Accepter
        </button>
      </div>
    </div>

    {% include 'partials/flash.html.twig' %}

    <div class="form-group">
        <textarea class="card" name="content" id="" cols="30" is="diff-editor"
                  original="{{ revision.target.content | e('html_attr') }}" updated="{{ revision.content | e('html_attr') }}"></textarea>
    </div>

  </form>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    document.addEventListener('turbolinks:load', () => {
      /** @var {HTMLInputElement} */
      const input = document.querySelector('#revision-rejection-comment')
      input.addEventListener('input', () => {
        if (input.value === '') {
          input.nextElementSibling.setAttribute('disabled', 'disabled')
        } else {
          input.nextElementSibling.removeAttribute('disabled')
        }
      })
    })
  </script>
{% endblock %}

