{% extends 'admin/layout/card.html.twig' %}

{% block title %}
    {{ icon('user') }}
    Gestion des utilisateurs
{% endblock %}

{% block actions %}
  {% if banned_filter %}
    <a href="{{ path(prefix ~ '_index') }}" class="btn-secondary">{{ icon('comments') }} Tous les utilisateurs</a>
  {% else %}
    <a href="{{ path(prefix ~ '_index', {banned: 1}) }}" class="btn-secondary">{{ icon('eye') }} Bannis</a>
  {% endif %}
{% endblock %}

{% block heading %}
  {% if days is defined and months is defined %}
  <section class="stack mb2">
    <div class="flex">
      <h1 class="dashboard-title">
        {{ icon('user') }} Inscriptions
      </h1>
    </div>
    <div class="dashboard-card">
      <nav-tabs class="dashboard-card__tabs">
        <a href="#daily" aria-controls="daily" aria-selected="true">30 derniers jours</a>
        <a href="#monthly" aria-controls="monthly">24 derniers mois</a>
      </nav-tabs>
      <line-chart id="daily" points="{{ days | json_encode }}" x="date" y="amount"></line-chart>
      <line-chart id="monthly" points="{{ months | json_encode }}" x="date" y="amount" hidden></line-chart>
    </div>
  </section>
  {% endif %}
{% endblock %}

{% block content %}
    <table class="table">
      <thead>
      <tr>
        <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Inscription</th>
        <th>Premium</th>
        <th>IP</th>
        <th>Durée d'inscription</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for user in rows %}
        <tr>
          <td>
            {{ user.id }}
          </td>
          <td>
            {{ user.username }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.createdAt | format_datetime(pattern="dd MMM. yyyy à kk:mm") }}
          </td>
          <td>
            {{ user.premium ? user.premiumEnd | ago('Pour') : '' }}
          </td>
          <td>
            {% if user.lastLoginIp %}
              <a href="{{ path('admin_ip', {ip: user.lastLoginIp}) }}" title="" target="_blank">{{ user.lastLoginIp }}</a>
              {% set location = ipService.getLocation(user.lastLoginIp) %}
              {% if location %}
              <span title="{{ location.country }}">
                {{ location.emoji ?? '' }}
              </span>
              {% endif %}
            {% endif %}
          </td>
          <td>
            {{ user.registrationDuration }}s
          </td>
          <td>
            <div class="dashboard-actions">
              {% if user.confirmationToken %}
              <form action="{{ path(prefix ~ '_confirm', {id: user.id}) }}" method="post">
                <button class="btn-secondary" type="submit">
                  {{ icon('check') }} Confirmer
                </button>
              </form>
              {% else %}
                <a href="/?_ninja={{ user.email }}" class="btn-secondary">
                  {{ icon('ninja') }} Ninja
                </a>
              {% endif %}
              <a href="{{ path('admin_transaction_index', {q: 'user:' ~ user.id}) }}" class="btn-secondary">{{ icon('refund') }} Transactions</a>
              <form action="{{ path(prefix ~ '_ban', {id: user.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment bannir cet utilisateur ?')">
                <button class="btn-danger" type="submit" {{ user.premium or user.banned ? 'disabled' : '' }}>
                  {{ icon('delete') }} {{ user.banned ? 'Banni !' : 'Bannir' }}
                </button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ paginate(rows) }}
{% endblock %}
