{% extends 'admin/layout/card.html.twig' %}

{% block title %}
    {{ icon('user') }}
    Gestion des utilisateurs
{% endblock %}

{% block content %}
    <table class="table">
      <thead>
      <tr>
        <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Inscription</th>
        <th>Premium</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for user in rows %}
        <tr>
          <td class="dashboard-id">
            {{ user.id }}
          </td>
          <td class="dashboard-id">
            {{ user.username }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td class="dashboard-id">
            {{ user.createdAt | format_datetime(pattern="dd MMM. yyyy à kk:mm") }}
          </td>
          <td class="dashboard-id">
              {{ user.premium ? user.premiumEnd | ago('Pour') : '' }}
          </td>
          <td>
            <div class="dashboard-actions">
              {% if user.confirmationToken %}
              <form action="{{ path(prefix ~ '_confirm', {id: user.id}) }}" method="post">
                <button class="btn-secondary" type="submit">
                  {{ icon('check') }} Confirmer
                </button>
              </form>
              {% endif %}
              <a href="{{ path('admin_transaction_index', {q: 'user:' ~ user.id}) }}" class="btn-secondary">{{ icon('refund') }} Transactions</a>
              <form action="{{ path(prefix ~ '_ban', {id: user.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment bannir cet utilisateur ?')">
                <button class="btn-danger" type="submit" {{ user.premium or user.banned ? 'disabled' : '' }}>
                  {{ icon('delete') }} {{ user.banned ? 'Banni !' : 'Bannir' }}
                </button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ paginate(rows) }}
{% endblock %}
