<div class="tabs-bar container bg-light">
  <a href="{{ path('user_profil') }}" {% if active == 'profil' %}aria-selected="true"{% endif %}>
    {{ icon('lines') }}
    Profil
  </a>
  <a href="{{ path('user_edit') }}" {% if active == 'edit' %}aria-selected="true"{% endif %}>
    {{ icon('user') }}
    Editer
  </a>
  <a href="{{ path('user_history') }}" {% if active == 'history' %}aria-selected="true"{% endif %}>
    {{ icon('video') }}
    Historique
  </a>
  <a href="{{ path('user_badges') }}" {% if active == 'badges' %}aria-selected="true"{% endif %}>
    {{ icon('badge') }}
    Badges
  </a>
  <a href="{{ path('user_invoices') }}" {% if active == 'invoices' %}aria-selected="true"{% endif %}>
    {{ icon('inbox') }}
    Factures
  </a>
  {% if is_granted('ADMIN') %}
    <a href="{{ path('admin_home') }}" class="mla">
      {{ icon('edit') }}
      Administration
    </a>
  {% endif %}
</div>
