{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}

{% block title 'Mes factures' %}

{% block body %}

  {% include 'account/_header.html.twig' with {title: 'Mes factures', user: app.user} %}

  {% include 'account/_tabs.html.twig' with {active: 'invoices'} %}

  <div class="layout-sidebar py5" style="--gap:5;">
    <main>
      <h2 class="h3 mb3">
        {{ icon('inbox') }}
        <strong>Mes derniers paiements</strong>
      </h2>
      {% if transactions is empty %}
        <div class="py4 text-muted text-center h3">
          Vous n'avez aucune facture :(
        </div>
      {% else %}
        <table class="table">
          <thead>
          <tr>
            <th width="180">Date</th>
            <th class="mobile-hidden">Description</th>
            <th>Prix</th>
            <th width="200"></th>
          </tr>
          </thead>
          <tbody>
          {% for transaction in transactions %}
            <tr>
              <td>
                <div class="mobile-hidden">
                  {{ transaction.createdAt | format_date('long') }}
                </div>
                <div class="mobile-only" aria-hidden="true">
                  {{ transaction.createdAt | format_date('short') }}
                </div>
              </td>
              <td class="mobile-hidden">Compte premium {{ transaction.duration }} mois</td>
              <td>{{ transaction.price | format_currency('EUR') }}</td>
              <td class="text-right">
                <a target="_blank" href="{{ path('user_invoice', {id: transaction.id}) }}" class="btn-secondary">Télécharger&nbsp;<span class="mobile-hidden">la facture</span></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </main>
    <aside>
      {{ render(controller(
        'App\\Http\\Controller\\Template\\PremiumStateController::state'
      )) }}
    </aside>
  </div>

{% endblock %}


