{{ form_start(form, {attr: {class: 'stacked'}}) }}

<section class="stack-large">

  <section>
    <div class="section-title">
      Informations générale
    </div>
    <div class="stack">
      <div class="grid">
        {{ form_row(form.name) }}
        {{ form_row(form.owner) }}
        {{ form_row(form.couponCode) }}
        {{ form_row(form.credits) }}
      </div>
      {{ form_row(form.emailTemplate, {help: 'Ce message apparaitra au dessus dans l\'email envoyé aux élèves lors de leur inscription sur le site'}) }}
    </div>
  </section>

  <section>
    <button type="submit" class="btn-gradient">Sauvegarder</button>
  </section>

</section>

{{ form_end(form) }}
