{% extends 'base.html.twig' %}

{% block title "Inscription" %}

{% block body %}
  <div class="auth-container my5">

    {% include 'partials/flash.html.twig' %}

    <h1 class="auth-title fade">
      {% if oauth_type %}
        Se connecter avec {{ oauth_type }}
      {% else %}
        S'inscrire
      {% endif %}
    </h1>

    {% if oauth_registration %}
    <alert-message type="info">
      Vous y êtes presque, il ne vous reste plus qu'à choisir votre nom d'utilisateur
    </alert-message>
    {% endif %}

    {% if errors | length > 0 %}
      <alert-message type="danger">
        {% for error in errors %}
          {{ error.message }}
          {% if not loop.last %}
            <br/>
          {% endif %}
        {% endfor %}
      </alert-message>
    {% endif %}

    {{ form_start(form, {attr: {class: 'auth-form fade fade-1'}}) }}
      {{ form_row(form.username) }}
      {% if form.email is defined %}
        {{ form_row(form.email) }}
      {% endif %}
      {% if form.plainPassword is defined %}
        {{ form_row(form.plainPassword) }}
      {% endif %}
      {{ form_row(form.goal) }}
      <div class="form-optional" aria-hidden="true">
        {{ form_row(form.job) }}
      </div>
      <button type="submit" class="btn-gradient">S'inscrire</button>
      <p>
        <small class="text-muted">Vos données personnelles (email et nom d'utilisateur) ne sont utilisées qu'à des fins d'authentification et ne sont pas partagées avec des tiers (<a
            href="{{ path('confidentialite') }}">En savoir plus</a>).</small>
      </p>
    {{ form_end(form) }}

  </div>
  <waves-shape target=".auth-form"></waves-shape>
{% endblock %}
