<ul class="header-side">
  <li class="header__notification">
    <site-notifications></site-notifications>
  </li>
  <li class="header__search">
    <search-button></search-button>
  </li>
  {% if app.user %}
    <li><a href="{{ path('user_profil') }}">{{ icon('user') }} <span>{{ app.user.username }}</span></a>
    <li class="header__logout"><a href="{{ path('auth_logout') }}">{{ icon('logout') }} <span>Se déconnecter</span></a></li>
  {% else %}
    <li><a href="{{ path('auth_login', {redirect: app.request.pathInfo}) }}">{{ icon('user') }} <span>Se connecter</span></a></li>
  {% endif %}
  <li class="header__burger">
    <button id="js-burger"><span>Afficher le menu</span></button>
  </li>
</ul>
