<a href="{{ path('course_index', {level: content.level }) }}" class="pill {{ small is defined ? 'small ' : '' }}pill-{{ content.levelColor }} {{ class is defined ? class : '' }}">
  {{ content.levelName }}
</a>
