{% set plans = repository('App\\Domain\\Premium\\Entity\\Plan', 'findAll') %}

<nav-tabs class="tabs-toggle" style="margin-bottom: 35px;">
  {% for plan in plans %}
    <button aria-controls="plan{{ plan.id }}">{{ plan.name }}</button>
  {% endfor %}
</nav-tabs>

{% for plan in plans %}
  <div class="card pricing" id="plan{{ plan.id }}">
    <div class="pricing__price">{{ plan.price }}<sup>€ TTC</sup></div>
    {# <div class="pricing__eco">(économiser 10%)</div> #}
    <div class="pricing__item">
      Visionner les tutoriels
      <strong>en avance</strong>
    </div>
    <div class="pricing__item">
      Voir les vidéos
      <a href="{{ path('course_premium') }}"><strong>premium</strong></a>
    </div>
    <div class="pricing__item">
      <strong>Télécharger</strong>
      les vidéos
    </div>
    <div class="pricing__item">
      <strong>Télécharger</strong>
      les sources
    </div>
    <div class="pricing__action">
      <premium-button plan="{{ plan.id }}" price="{{ plan.price }}" duration="{{ plan.duration }}" stripe-key="{{ stripeKey() }}" paypal-id="{{ paypalClientId() }}">
        Devenir premium ({{ plan.name }})
      </premium-button>
    </div>
  </div>
{% endfor %}
