{#
  Affiche l'état de l'abonnement de l'utilisateur
#}
<div>
  {% if subscription %}
    <h2 class="h3 mb2">
      {{ icon('user') }}
      Mon abonnement
    </h2>
    {% if subscription.active %}
      <p class="mb2 formatted text-muted">
        Vous êtes actuellement abonné. Votre prochain prélèvement aura lieu le
        <strong>{{ subscription.nextPayment | format_date('short') }}</strong>.
      </p>

      <form action="{{ path('user_subscription') }}" method="post" target="_blank">
        <button class="btn-primary">{{ icon('pen') }} Gérer mon abonnement</button>
      </form>
    {% else %}
      <p class="mb2 formatted text-muted">
        Vous avez annulé votre abonnement. Il sera automatiquement suspendu après le
        <strong>{{ subscription.nextPayment | format_date('short') }}</strong>
      </p>
      <form action="{{ path('user_subscription') }}" method="post" target="_blank">
        <button class="btn-primary">{{ icon('pen') }} Réactiver mon abonnement</button>
      </form>
    {% endif %}
  {% elseif (user.premium) %}
    <h2 class="h3 mb2">
      {{ icon('user') }}
      Mon abonnement
    </h2>
    <p class="mb2 formatted text-muted">
      Vous êtes actuellement premium jusqu'au <strong>{{ user.premiumEnd | format_date('short') }}</strong>.
    </p>
  {% else %}
    <h2 class="h4 mb2">
      Vous n'êtes pas premium :(
    </h2>
    <a href="{{ path('premium') }}" class="btn-secondary">{{ icon('star')}} Devenir premium</a>
  {% endif %}

</div>
