{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block title 'Tutoriels et Formations vidéos sur le développement web' %}

{% block body %}
  {% cache [courses, app.user ? 'authenticated' : 'anonymous'] %}
    <main class="homepage">

      <section class="container">
        <div class="home-intro">
          <div class="home-intro__body stack">
            <div class="hero-title">
              <strong>Apprenez</strong> de<br>
              nouvelles <br>
              choses.
            </div>
            <p class="hero-text">
              Améliorez-vous et apprenez de nouvelles choses grâce à <strong>{{ hours }} heures</strong> de tutoriels vidéos
              gratuits.
            </p>
            <div class="hstack">
              {% if app.user %}
                <a class="btn-primary btn-big" href="{{ path('user_profil') }}">Voir mon profil</a>
              {% else %}
                <a class="btn-primary btn-big" href="{{ path('register') }}">Créer votre compte</a>
              {% endif %}
              <a href="{{ path('course_index') }}" class="btn-primary-outlined btn-big">Voir les tutoriels</a>
            </div>
          </div>
          <div class="home-intro__illustration">
            <animated-editor width="678" height="402"></animated-editor>
            <img src="{{ asset('images/racoon.svg') }}" alt="" width="366" class="home-intro__mascot">
          </div>
        </div>
      </section>

      {% if cursus | length > 0 %}
          <section class="home-cursus container">

            <div class="home-cursus__body">
              <div class="stack container">
                <h2 class="hero-title">Apprendre avec des cursus</h2>
                <p class="hero-text">Les cursus sont une série de vidéo sélectionnées manuellement pour vous faire
                  atteindre
                  un objectif spécifique</p>
                <div>
                  <a class="btn-primary btn-big" href="{{ path('cursus_index') }}">Parcourir les cursus</a>
                </div>
              </div>
            </div>

            <cycle-classes class="home-cursus__push">
              {% for c in cursus %}
                {% include 'cursus/_card.html.twig' with {cursus: c} %}
              {% endfor %}
            </cycle-classes>

          </section>
      {% endif %}



      {% if courses | length > 0 %}
          <section class="home-push container">
            <div class="home-push__body stack">
              <h2 class="hero-title">Apprendre grâce à <strong>plusieurs formats</strong></h2>
              <p class="hero-text">
                Vous cherchez une formation complète pour apprendre de A à Z ou une vidéo pour découvrir
                un nouvel outil ? Vous devriez trouver votre bonheur
              </p>
              {#
              <div>
                <a class="btn-primary-outlined btn-big" href="{{ path('course_index') }}">Découvrir les derniers tutoriels</a>
              </div>
              #}
            </div>
            <div class="home-push__mosaic">

              <div class="card card-big">
                <a class="pill pill-yellow" href="{{ path('formation_index') }}">Les dernières formations</a>
                <div class="home-list stack-separated">
                  {% for formation in formations %}
                    <div class="home-list__item has-icon">
                      {% if formation.mainTechnologies | length > 0 %}
                        {% set technology = formation.mainTechnologies[0] %}
                        <a href="{{ path(technology) }}" class="course__icon" tabindex="-1">
                          <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
                        </a>
                      {% endif %}
                      <a class="card__title" href="{{ path(formation) }}">{{ formation.title }}</a>
                      <div>{{ formation.chapters | length }} chapitres</div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="card card-big">
                <a class="pill" href="{{ path('course_index') }}">Les derniers tutoriels</a>
                <div class="home-list stack-separated">
                  {% for course in courses %}
                    <div class="home-list__item has-icon">
                      {% if course.mainTechnologies | length > 0 %}
                        {% set technology = course.mainTechnologies[0] %}
                        <a href="{{ path(technology) }}" class="course__icon" tabindex="-1">
                          <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
                        </a>
                      {% endif %}
                      <a class="card__title" href="{{ path(course) }}">{{ course.title }}</a>
                      <div>{{ course.duration | duration }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="card card-big">
                <a class="pill pill-green" href="{{ path('live') }}">Tous les lives</a>
                <div class="home-list stack-separated" style="--gap: 2">
                  {% for live in lives %}
                    <div class="home-list__item">
                      <a class="card__title" href="https://www.youtube.com/watch?v={{ live.youtubeId }}">{{ live.name }}</a>
                      <div>{{ live.createdAt | format_date('long') }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          </section>
      {% endif %}

      <section class="home-premium container">
        <h1 class="hero-title">Devenir premium</h1>
        <div class="hero-text formatted">
          Devenir premium sur Grafikart, c'est <strong>soutenir</strong> la création de nouveaux contenus chaque semaine
          et accéder à du contenu exclusif pour apprendre et s'améliorer (comme le téléchargement des vidéos et des
          sources).
        </div>
        <div class="home-premium__prices">
          {% include 'partials/premium.html.twig' %}
        </div>
      </section>

      {% if posts | length > 0 %}
          <section class="home-blog container">
            <div class="col">
              <div class="home-blog__body stack">
                <h1 class="hero-title">Des nouvelles du blog</h1>
                <div class="hero-text formatted">
                  Venez découvrir les actualités autour de l'univers du développement web.
                </div>
                <div class="mt1 mb3">
                  <a class="btn-primary-outlined btn-big" href="{{ path('blog_index') }}">Accéder au blog</a>
                </div>
                {% set post = posts[0] %}
                {% include 'pages/_homepost.twig' with {width: 385, height: 182, post: posts[0]} %}
              </div>
            </div>
            <div class="col">
              {% include 'pages/_homepost.twig' with {width: 385, height: 465, post: posts[1]} %}
            </div>
            <div class="col stack-separated">
              {% for post in posts | slice(2, 3) %}
                {% include 'pages/_homepost.twig' with {width: 97, height: 93} %}
              {% endfor %}
            </div>
          </section>
      {% endif %}


    </main>
  {% endcache %}
{% endblock %}
