<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>Grafikart.fr</title>
    <description>Grafikart.fr</description>
    <link>https://www.grafikart.fr/</link>
    {% for item in items %}
    <item>
      <title>{{ item.title }}</title>
      <link>{{ url(item) }}</link>
      <guid>{{ url(item) }}</guid>
      <description>{{ item.content | markdown | striptags | excerpt(130) }}</description>
      <pubDate>{{ item.createdAt.format('r') }}</pubDate>
    </item>
    {% endfor %}
  </channel>
</rss>
