{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}

{% block title 'Mes factures' %}

{% block body %}

  <header class="page-header technology-header container">
    <div class="stack w100">
      <h1 class="h1">Mes factures</h1>
    </div>
  </header>

  {% include 'profil/_tabs.html.twig' with {active: 'invoices'} %}



<div class="layout-sidebar py5" style="--gap:5;">
  <main>
    <h2 class="h3 mb3">
      {{ icon('inbox') }}
      <strong>Mes derniers paiements</strong>
    </h2>
    {% if transactions is empty %}
      <div class="py4 text-muted text-center h3">
        Vous n'avez aucune facture :(
      </div>
    {% else %}
      <table class="table">
        <thead>
        <tr>
          <th width="180">Date</th>
          <th>Description</th>
          <th>Prix</th>
          <th width="200"></th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.createdAt | format_date('long') }}</td>
            <td>Compte premium {{ transaction.duration }} mois</td>
            <td>{{ transaction.price | format_currency('EUR') }}</td>
            <td class="text-right">
              <a target="_blank" href="{{ path('user_invoice', {id: transaction.id}) }}" class="btn-secondary">Télécharger la facture</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </main>
  <aside>
    <h2 class="h3 mb3">
      {{ icon('user') }}
      Mon abonnement
    </h2>
    <p class="mb2">
      Vous pouvez consulter l'état de votre abonnement et gérer vos informations directement depuis <strong>Stripe</strong>.
    </p>
    <form action="{{ path('user_subscription') }}" method="post">
      <button class="btn-primary">Gérer mon abonnement</button>
    </form>
  </aside>
</div>

{% endblock %}


