{{ form_start(form, {attr: {class: 'stacked'}}) }}

<section class="stack-large">

  <section>
    <div class="section-title">
      Informations générale
    </div>
    <div class="grid">
      {{ form_row(form.name) }}
      {{ form_row(form.description) }}
      {{ form_row(form.theme) }}
      {% if entity.image %}
      <div class="form-group form-attachment">
        <label class="required">Aperçu du badge</label>
        <div class="center">
          <div class="badge-icon badge-icon-{{ entity.theme }}">
            {{ image(entity) }}
          </div>
        </div>
      </div>
      {% endif %}
      {{ form_row(form.action) }}
      {{ form_row(form.actionCount) }}
      {{ form_row(form.imageFile) }}
    </div>
  </section>

  <section>
    <button type="submit" class="btn-gradient">Sauvegarder</button>
  </section>

</section>

{{ form_end(form) }}
