{% extends 'admin/base.html.twig' %}

{% block title 'Dashboard' %}

{% block body %}

  <div class="stack-large">

    {% include 'admin/home/_jobs.html.twig' %}

    <section class="stack" style="--gap: 1;">
      <div class="flex">
        <h1 class="dashboard-title">
          {{ icon('star') }} Abonnements
        </h1>
      </div>
      <div class="dashboard-card">
        <nav-tabs class="dashboard-card__tabs">
          <a href="#daily" aria-controls="daily" aria-selected="true">30 derniers jours</a>
          <a href="#monthly" aria-controls="monthly">24 derniers mois</a>
        </nav-tabs>
        <line-chart id="daily" points="{{ days | json_encode }}" x="date" y="amount"></line-chart>
        <line-chart id="monthly" points="{{ months | json_encode }}" x="date" y="amount" hidden></line-chart>
      </div>
    </section>

    {% if revisions is not empty %}
    <section class="stack" style="--gap: 1;">
      <div class="dashboard-title mt2">
        {{ icon('clock') }} Révisions
      </div>
      <div class="dashboard-card">
        <table class="table">
          <thead>
          <tr>
            <th>Article</th>
            <th>Auteur</th>
            <th>Date</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          {% for revision in revisions %}
            <tr>
              <td>
                <a href="{{ path('admin_revision_show', {id: revision.id}) }}">
                  {{ revision.target.title }}
                </a>
              </td>
              <td>{{ revision.author.username }}</td>
              <td>{{ revision.createdAt | format_date('long') }}</td>
              <td>
                <div class="dashboard-actions">
                  <a href="{{ path('admin_revision_show', {id: revision.id}) }}">{{ icon('edit') }}</a>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
    {% endif %}

    <div class="grid2" style="--gap: 4">

      <!-- Commentaires -->
      {% include 'admin/home/_comments.html.twig' %}

      <div class="stack-large">

        {% include 'admin/home/_reports.html.twig' %}

        <!-- Actions -->
        <section class="stack" style="--gap: 1">
          <div class="flex">
            <h1 class="dashboard-title">{{ icon('star') }} Actions</h1>
          </div>

          <div class="dashboard-card">
            <div class="flex">
              <form action="{{ path('admin_cache_clean') }}" method="post">
                <button class="btn btn-small btn-danger">{{ icon('trash') }} Vider le cache</button>
              </form>
              <form action="{{ path('admin_spam_detect') }}" method="post">
                <button class="btn btn-small btn-secondary">{{ icon('comments') }} Détecter le spam</button>
              </form>
            </div>
          </div>
        </section>

        <section class="stack" style="--gap: 1">
          <div class="flex">
            <h1 class="dashboard-title">{{ icon('edit') }} <a href="https://www.mail-tester.com/" rel="noreferrer">Tester les emails</a></h1>
          </div>

          <div class="dashboard-card">
            <form action="{{ path('admin_mailtest') }}" method="post" class="flex stretch">
              <div class="form-group" style="width: 100%">
                <input class="form-control" placeholder="Email" name="email">
              </div>
              <button class="btn btn-secondary">Envoyer</button>
            </form>
          </div>
        </section>

        <!-- Notifications -->
        <section class="stack" style="--gap:1">
          <div class="flex">
            <h1 class="dashboard-title">
              {{ icon('bell') }} Notifier
            </h1>
          </div>
          <div class="dashboard-card">
            <form-notification></form-notification>
          </div>
        </section>

      </div>
    </div>
  </div>

{% endblock %}
