{% extends 'admin/base.html.twig' %}

{% block body %}

<div class="dashboard-title">
  {{ icon('pen') }}
  Editer l'article
</div>

{% include 'partials/flash.html.twig' %}

<div class="dashboard-card">
  {{ form_start(form, {attr: {class: 'stacked'}}) }}
    <div class="row">
      {{ form_row(form.title) }}
      {{ form_row(form.slug) }}
      {{ form_row(form.createdAt) }}
      {{ form_row(form.author) }}
      {{ form_row(form.online) }}
      {{ form_row(form.image, {row_attr: {style: 'grid-column: -1 / -1; grid-row: 1 / 3'}}) }}
    </div>
    {{ form_rest(form) }}
    <button type="submit" class="btn-gradient">Editer</button>
  {{ form_end(form) }}
</div>
{% endblock %}

