<section class="stack" style="--gap:1">
  <div class="flex">
    <h1 class="dashboard-title">
      {{ icon('comments') }} Derniers commentaires
    </h1>
    {{ paginate_nav(comments) }}
  </div>
  <div class="dashboard-card stack-separated">
    {% for comment in comments %}
      <article class="dashboard-comment stack" style="--gap:1">
        <div class="flex">
          <h3>
            <strong>
              <a href="{{ path('admin_user_index', {q: comment.author ? comment.author.id : '#'}) }}">{{ icon('user') }} {{ comment.username }}</a>
            </strong>,
            <a href="{{ path(comment.target) }}">
              {{ comment.target.title }}
            </a>
          </h3>
          <ajax-delete class="dashboard-comment__delete"
                       target=".dashboard-comment"
                       url="{{ path('api_comments_delete_item', {id: comment.id}) }}">
            {{ icon('delete') }}
          </ajax-delete>
        </div>
        <p>{{ comment.content | nl2br }}</p>
      </article>
    {% endfor %}
  </div>
</section>
