{% extends 'admin/layout/card.html.twig' %}

{% block title %}
    {{ icon('refund') }}
    Gestion des transactions
{% endblock %}

{% block content %}
    <table class="table">
      <thead>
      <tr>
        <th>Date</th>
        <th>Prix</th>
        <th>Pseudo</th>
        <th>Email</th>
        <th>Methode</th>
        <th>Durée</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>{{ row.createdAt.format('d/m/Y') }}</td>
          <td>{{ row.price | format_currency('EUR') }}</td>
          <td>{{ row.author.username }}</td>
          <td>{{ row.author.email }}</td>
          <td>
            {% if row.paypal %}
            <a class="pill uppercase pill-yellow" href="https://www.paypal.com/myaccount/transactions/?free_text_search={{ row.methodRef }}&account_subscription_type=ALL&filter_id=&currency=ALL&issuance_product_name=&asset_names=&asset_symbols=&type=&status=&start_date=2010-07-09&end_date=2120-10-07">
              {{ row.method }}
            </a>
            {% elseif row.stripe %}
              <a class="pill uppercase" href="https://dashboard.stripe.com/payments/{{ row.methodRef }}">
                {{ row.method }}
              </a>
            {% endif %}
          </td>
          <td>{{ row.duration }}</td>
          <td class="text-right">
            <form action="{{ path(prefix ~ '_show', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment marquer cette transaction comme remboursée ?')">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn-danger" type="submit" {{ row.refunded ? 'disabled' : '' }}>
                {{ icon('refund') }} Rembourser
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ paginate(rows) }}
{% endblock %}
