<div>
  <h3 class="chapters__section">{{ chapter.title }}</h3>
  <div class="chapters__list">
    {% for course in chapter.modules %}
      <a href="{{ path(course) }}#autoplay" class="chapters__item" id="chapter{{ course.id }}">
        {% if course.premium and (not app.user or not app.user.premium) %}
          <div class="chapters__premium">
            {{ icon('star') }}
          </div>
        {% else %}
          <play-button class="chapters__play" data-video-id="course-{{ course.id }}" tabindex="-1" data-history="{{ course.id }}"></play-button>
        {% endif %}
        <span class="chapters__title">
          {{ course.title }}
        </span>
        <span class="chapters__duration">{{ course.duration | duration }}</span>
      </a>
    {% endfor %}
  </div>
</div>
