{{ form_start(form, {attr: {class: 'stacked'}}) }}

<section class="stack-large">

  <section>
    <div class="section-title">
      Informations générales
    </div>
    <div class="grid">
      {{ form_row(form.title) }}
      {{ form_row(form.slug) }}
      {{ form_row(form.author) }}
      {{ form_row(form.createdAt) }}
      {{ form_row(form.image, {row_attr: {class: 'form-attachment', style:'grid-row-start:1; align-self:stretch;'}}) }}
      <div style="grid-column-end: span 2; padding-top: 29px;" class="flex start hstack-large form-group">
        {{ form_row(form.online) }}
        {{ form_row(form.source) }}
        {{ form_row(form.premium) }}
      </div>
    </div>
  </section>

  <section>
    <div class="section-title">
      Contenus
    </div>
    <div class="grid">
      {{ form_row(form.videoPath, {label: 'Video'}) }}
      {{ form_row(form.demo) }}
      {{ form_row(form.youtube) }}
      {{ form_row(form.duration) }}
      {{ form_row(form.deprecatedBy, {label: 'Déprécié par'}) }}
      {{ form_row(form.sourceFile) }}
      {{ form_row(form.youtubeThumbnail, {row_attr: {class: 'form-attachment', style:'grid-row-start:1; align-self:stretch;'}}) }}
      <div class="full grid" style="--col: 400px;">
        {{ form_row(form.mainTechnologies) }}
        {{ form_row(form.secondaryTechnologies) }}
      </div>
    </div>
  </section>

  <section>
    <div class="section-title">
      Description
    </div>
    {{ form_row(form.content, {label: false}) }}
  </section>

  <section>
    <button type="submit" class="btn-gradient">Sauvegarder</button>
  </section>

</section>

{{ form_end(form) }}
