{% extends 'admin/layout/card.html.twig' %}

{% block title  %}
  {{ icon('video') }}
  Gestion des tutoriels
{% endblock %}

{% block actions %}
  <a href="{{ path(prefix ~ '_new') }}" class="btn-primary">Ajouter un tutoriel</a>
{% endblock %}

{% block content %}
    <table class="table">
      <thead>
      <tr>
        <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
        <th>Nom</th>
        <th>Publication</th>
        <th>Technologies</th>
        <th class="text-center">{{ sort_by(rows, 'Status', 'row.online') }}</th>
        <th class="text-center">Source</th>
        <th class="text-right">Actions</th>
      </tr>
      </thead>
      <tbody>
        {% for row in rows %}
          {% set link = path(prefix ~ '_edit', {id: row.id}) %}
        <tr>
          <td>
            <a href="{{ link }}">{{ row.id }}</a>
          </td>
          <td>
            <a href="{{ link }}">{{ row.title }}</a>
          </td>
          <td>
            {{ row.createdAt | date("d M Y") }}
          </td>
          <td>
            {% for technology in row.mainTechnologies %}
              <a href="{{ path('admin_course_index') }}?technology={{ technology.slug }}">{{ technology.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td><span class="bullet {% if row.online == false %}bullet--danger{% endif %}"></span></td>
          <td><span class="bullet {% if not row.source %}bullet--danger{% endif %}"></span></td>
          <td>
            <div class="dashboard-actions">
              {% if row.online %}
                <form action="{{ path(prefix ~ '_edit', {id: row.id}) }}" method="post">
                  <input type="hidden" name="_method" value="DELETE" />
                  <button type="submit">
                    {{ icon('delete') }}
                  </button>
                </form>
              {% endif %}
              <a href="{{ path(prefix ~ '_clone', {id: row.id}) }}">{{ icon('clone') }}</a>
              <a href="{{ link }}">{{ icon('edit') }}</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ paginate(rows) }}
{% endblock %}
