{% extends 'admin/layout/card.html.twig' %}

{% block title %}
  {{ icon('tag') }}
  Gestion des tags
{% endblock %}

{% block content %}
  <div class="flex">
    <form class="form-group dashboard-search">
      <input name="q" type="text" placeholder="Rechercher un tag" value="{{ app.request.get('q') }}" >
    </form>
    <a href="{{ path(prefix ~ '_new') }}" class="dashboard-btn">Ajouter un tag</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
      <th>{{ sort_by(rows, 'ID', 'row.name') }}</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
      {% set link = path(prefix ~ '_edit', {id: row.id}) %}
      <tr>
        <td class="dashboard-id">
          <a href="{{ link }}">{{ row.id }}</a>
        </td>
        <td>
          <a href="{{ link }}">{{ row.name }}</a>
        </td>
        <td>
          <div class="dashboard-actions">
            <a href="{{ link }}">{{ icon('edit') }}</a>
            {# La suppresion d'un tutoriel n'est pas prévue pour le moment
            <form action="{{ path(prefix ~ '_edit', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce contenu')">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit">
                {{ icon('delete') }}
              </button>
            </form>
            #}
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {{ paginate(rows) }}
{% endblock %}
