{% cache [formation, 'card'] %}
  <article class="card card--formation">
    <div class="card__body stack">
      <div class="card__icons">
        {% for technology in formation.mainTechnologies %}
          <a href="{{ path('technology_show', {slug: technology.slug}) }}" class="course__icon" tabindex="-1">
            <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
          </a>
        {% endfor %}
      </div>

      <h2 class="card__title" style="margin-bottom: 4px;">
        <a href="{{ path('formation_show', {slug: formation.slug}) }}" tabindex="-1">
          {{ formation.title }}
        </a>
      </h2>

      <div class="card__description">
        {{ formation.content | markdown | striptags | excerpt(130) }}
      </div>
      <a href="{{ path('formation_show', {slug: formation.slug}) }}" title="{{ formation.title }}"
         class="card__link"></a>
    </div>
    <footer class="card__footer">
      <div>{{ icon('lines') }} {{ formation.courses | length }} Chapitres</div>
      <div>{{ icon('clock') }} {{ formation.duration | duration }}</div>
    </footer>
  </article>
{% endcache %}
