{% extends 'base.html.twig' %}

{% block body %}

  <div class="blog-posts">

    <h2>Catégories</h2>

    <ul>
      {% for category in categories %}
      <li><a href="{{ path('blog_category', {slug: category.slug}) }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>

    {% for post in posts %}
      {% set link = path('blog_show', {slug: post.slug}) %}
      <article class="blog-post">
        <a href="{{ link }}" class="blog-post__image">
          {% if post.image %}
          <img src="{{ image_url(post.image, 160, 160) }}" alt="">
          {% endif %}
        </a>
        <div class="blog-post__body">
          <h2 class="blog-post__title"><a href="{{ link }}">{{ post.title }}</a></h2>
          <div class="blog-post__meta">
            <div>{{ post.createdAt | date }}</div>
            <div>Auteur {{ post.author.username }}</div>
          </div>
          <p>
            {{ post.content | markdown_excerpt(250) }}
          </p>
        </div>
      </article>
    {% endfor %}

    {{ knp_pagination_render(posts) }}
  </div>

{% endblock %}
