{% extends 'admin/layout/card.html.twig' %}

{% block title %}
  {{ icon('video') }}
  Gestion des lives
{% endblock %}

{% block content %}
  <div class="flex form-group flex-end">
    {% if live %}
      <form class="flex mr1" method="post" action="{{ path('admin_live_set') }}">
        <input type="hidden" name="_method" value="DELETE" />
        <button class="btn btn-danger">Fin du live</button>
      </form>
    {% else %}
    <form class="form-group flex mr1" method="post" action="{{ path('admin_live_set') }}">
      <input type="text" value="{{ live }}" class="form-control mr1" placeholder="Live" name="live_id">
      <button class="btn btn-primary">Live&nbsp;!</button>
    </form>
    {% endif %}
    <form class="form-group" method="post" action="{{ path('admin_live_sync') }}">
      <button class="btn btn-primary">Synchroniser</button>
    </form>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th style="width: 120px;">Image</th>
      <th>Titre</th>
      <th>Durée</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for live in lives %}
    <tr>
      <td><a href="{{ live.youtubeUrl }}">{{ image(live, 105, 60) }}</a></td>
      <td><a href="{{ live.youtubeUrl }}">{{ live.name }}</a></td>
      <td>{{ live.duration | duration }}</td>
      <td class="text-right">{{ live.createdAt | date }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {{ paginate(lives) }}
{% endblock %}
