<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title 'Grafikart' %} | Grafikart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
  <meta name="turbolinks-cache-control" content="no-cache"/>
  <link rel="alternate" type="application/rss+xml" title="Grafikart.fr | Flux" href="{{ url('rss') }}"/>
  {% block meta '' %}
  <meta property="og:title" content="{{ block('title') }}"/>
  <meta property="og:site_name" content="Grafikart.fr"/>
  <meta property="og:language" content="fr"/>
  <meta name="twitter:author" content="@grafikart_fr"/>
</head>
<body
  class="{{ bodyClass is defined ? bodyClass : '' }} {{ body_theme() }} {{ app.user and app.user.premium ? 'user-premium' : 'user-not-premium' }}">
<div class="page-wrapper">
  <nav class="header {% if headerWhite is defined %}is-white{% endif %}" id="header">
    <ul class="header-nav">
      <li class="header__home"><a href="{{ path('home') }}" {{ menu_active('home') }}
                                  title="Accueil">{{ icon('home') }}</a></li>
      <li><a href="{{ path('course_index') }}" {{ menu_active('courses') }}>{{ icon('video') }} Tutoriels</a></li>
      <li><a href="{{ path('cursus_index') }}" {{ menu_active('cursus') }}>{{ icon('cursus') }} Cursus</a>
      <li><a href="{{ path('formation_index') }}" {{ menu_active('formations') }}>{{ icon('lines') }} Formations</a>
      </li>
      {% if not app.user or not app.user.premium  %}
        <li><a href="{{ path('premium') }}" {{ menu_active('premium') }}>{{ icon('star') }} Premium</a></li>
      {% endif %}
      <li><a href="{{ path('forum') }}" {{ menu_active('forum') }}>{{ icon('comment') }} Forum</a></li>
      <li><a href="{{ path('live') }}" {{ menu_active('live') }}
             class="{{ is_live_running() ? 'has-live' : '' }}">{{ icon('camera') }} Live {{ next_live_time() }}</a></li>
      <li><a href="{{ path('blog_index') }}" {{ menu_active('blog') }}>{{ icon('pen') }} Blog</a></li>
    </ul>
    {% include 'partials/header-side.html.twig' %}
  </nav>
  <div class="header-placeholder"></div>
  {% block body %}{% endblock %}
  <footer class="footer">
    <div>
      <div class="footer-title">Me retrouver</div>
      <p class="text-muted mb2">
        Après avoir appris sur Internet quoi de plus normal que de partager à son tour ? Passionné par le web depuis un peu plus de 15 ans maintenant j'aime partager mes compétences et mes découvertes avec les personnes qui ont cette même passion pour le web
      </p>
      <div class="flex">
        {% include 'partials/social.html.twig' %}
        <a href="https://www.infomaniak.com/goto/fr/hosting.managed-cloud?utm_term=59f74db50448d">
          <img src="/images/badge-infomaniak.svg" alt="" loading="lazy" width="150">
        </a>
      </div>
    </div>

    <div>
      <a class="footer-title" href="https://twitter.com/grafikart_fr">Mes derniers tweets</a>
      <div class="footer-tweets">
        {% for tweet in last_tweets() %}
          <div class="footer-tweet">
            {{ icon('quotes') }}
            {{ tweet.content | autolink | raw }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div>
      <div class="footer-title">Me contacter</div>
      <ul>
        <li><a href="{{ path('contact') }}">{{ icon('email') }} Par email</a></li>
        <li><a href="{{ path('tchat') }}">{{ icon('tchat') }} Tchat</a></li>
        <li><a href="https://www.youtube.com/user/grafikarttv">{{ icon('video') }} Chaine youtube</a></li>
        <li><a href="{{ path('env') }}">{{ icon('info') }} A propos</a></li>
        <li><a href="{{ path('confidentialite') }}">{{ icon('fingerprint') }} Politique de confidentialité</a></li>
      </ul>
      <div class="footer-title mt3 mb1">Thème</div>
      <theme-switcher></theme-switcher>
    </div>
  </footer>
</div>
{% if 'now' | date('m') == '12' %}
  <div class="guirlande guirlande1"></div>
  <div class="guirlande guirlande2"></div>
  <div class="guirlande guirlande3"></div>
{% endif %}
<script>
  window.grafikart = {
    ...(window.grafikart || {}),
    ADMIN: {{ is_granted('SUPERADMIN') ? 'true' : 'false' }},
    USER: {{ app.user ? app.user.id : 'null' }},
    MERCURE_URL: "{{ mercure_subscribe_url }}",
    NOTIFICATION: new Date({{ (app.user and app.user.notificationsReadAt) ? app.user.notificationsReadAt.timestamp : 0 }} * 1000)
  }
</script>
{% block javascripts_footer '' %}
</body>
</html>
