<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Roboto:300,400&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="header">
            <ul class="header-nav">
                <li class="header__home"><a href="{{ path('home') }}" title="Accueil">{{ icon('home') }}</a></li>
                <li><a href="{{ path('course_index') }}" {{ menu_active('courses') }}>{{ icon('video') }} Tutoriels</a></li>
                <li><a href="#">{{ icon('lines') }} Formations</a></li>
                <li><a href="#">{{ icon('comment') }} Forum</a></li>
                <li><a href="{{ path('live') }}" {{ menu_active('live') }}>{{ icon('camera') }} Live</a></li>
                <li><a href="#">{{ icon('pen') }} Blog</a></li>
            </ul>
            <ul class="header-side">
                <li class="header__search"><a href="#">{{ icon('search') }}</a></li>
                <li class="header__account"><a href="#">{{ icon('user') }} Se connecter</a></li>
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
