{% cache [course] %}
  <article class="card {{ course.premium ? 'card-premium' : '' }} {{ course.scheduled ? 'card-scheduled' : '' }}" data-history="{{ course.id }}">
    <div class="card__body stack">

      {# Langages utilisés #}
      <div class="card__icons">
        {% for technology in course.mainTechnologies %}
          <a href="{{ path('technology_show', {slug: technology.slug}) }}" class="course__icon" tabindex="-1" title="Tous les tutoriels {{ technology.name }}">
            <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
          </a>
        {% endfor %}
      </div>

      {# Titre du tutoriel #}
      <h2 class="card__title">
        <a href="{{ path('course_show', {slug: course.slug, id: course.id}) }}" tabindex="-1">
          {{ course.title }}
        </a>
      </h2>

      {# Description courte #}
      <div class="card__description text-small">
        <p>
          {{ course.content | markdown | striptags | excerpt(130) }}
        </p>
        {% if course.scheduled %}
          <div class="countdown">
            <small>Disponible dans</small>
            <strong>{{ course.createdAt | countdown }}</strong>
          </div>
        {% endif %}
      </div>
      <a href="{{ path('course_show', {slug: course.slug, id: course.id}) }}" title="{{ course.title }}"
         class="card__link"></a>
    </div>

    {# Barre de progression #}
    <div class="card__progress"><span></span></div>
    <footer class="card__footer text-small">
      {% if course.formation %}
        <div class="text-truncate">
          {{ icon('list', 12) }} {{ course.formation.title }}
        </div>
      {% endif %}
      <div>
        {{ icon('clock', 14) }} {{ course.duration | duration }}
      </div>
    </footer>

    {# Difficulté #}
    <div class="card__pills">

      {% include 'partials/level.html.twig' with {content: course, small: true} %}

      {% if course.premium %}
        <div class="pill pill-xsmall pill-yellow">{{ icon('star') }} Premium</div>
      {% endif %}
    </div>
  </article>
{% endcache %}
