{% extends 'base.html.twig' %}

{% block title 'Tous les tutoriels' ~ ((page > 1) ? (', page ' ~ page) : '') %}

{% block body %}

  <main class="container py5">

    <div class="grid-filter mb3">
      <div class="grid-filter__group">
        <label for="filter-level">Niveau : </label>
        <select name="level" id="filter-level" is="select-choices" data-redirect>
          <option value="">Tous</option>
          {% for key, level in levels  %}
            <option {{ app.request.get('level') == key ~ '' ? 'selected' : ''}} value="{{ key }}">{{ level }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="grid-filter__group">
        <label for="filter-technology">Technologie : </label>
        <select name="technology" id="filter-technology" is="select-choices" data-redirect data-search="{{ path('api_technology_search') }}" data-value="slug" data-label="name">
          <optgroup label="">
            <option value="">Toutes</option>
            {% if technology_selected %}
              <option value="{{ technology_selected.slug }}" selected>{{ technology_selected.name }}</option>
            {% endif %}
          </optgroup>
          {% for key, technologiesGroup in technologies  %}
            <optgroup label="{{ key }}">
              {% for technology in technologiesGroup %}
                <option value="{{ technology.slug }}">{{ technology.name }}</option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
      </div>
    </div>

    {% if courses | length > 0 %}
    <div class="courses">
      <div class="course-hero {% if page > 1 %}is-paginated{% endif %}">
        {% if page == 1 %}
          <h1>Tous les <strong>tutoriels</strong></h1>
          <p>
            Envie d'apprendre de nouvelles choses et maitriser de nouvelles technologies ?<br>
            Alors vous êtes sur le bon chemin...
          </p>
        {% else %}
          <h1>Tous les tutoriels<em><br>page {{ page }}</em></h1>
        {% endif %}
      </div>
      {% for course in courses %}
        {% include 'courses/_card.html.twig' %}
      {% endfor %}
    </div>

    {{ paginate(courses) }}

    {% else %}
      <div class="text-center">
        <h1 class="hero-title mb1">Aucun <strong>tutoriels</strong> :(</h1>
        <p class="text-big">
          Aucun contenu ne correspond aux filtres que vous avez sélectionnés.
        </p>
      </div>
    {% endif %}

  </main>

  {% if app.user %}
    {{ show_history(courses.items) }}
  {% endif %}

{% endblock %}
