{% extends 'base.html.twig' %}

{% block body %}
  <div class="courses">
    {% for course in courses %}
      <article class="course">
        <div class="course__icons">
          {% for technology in course.mainTechnologies %}
            <a href="{{ path('technology_index', {slug: technology.slug}) }}" class="course__icon">
              <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{  technology.name }}">
            </a>
          {% endfor %}
        </div>
        <h2 class="course__title">
          <a href="{{ path('course_show', {slug: course.slug, id: course.id}) }}">
            {{ course.title }}
          </a>
        </h2>
        <div class="course__content">
          {{ course.content | markdown | striptags | excerpt(130) }}
        </div>
        <footer>

        </footer>
      </article>
    {% endfor %}
  </div>
{% endblock %}
