{% extends 'base.html.twig' %}

{% block body %}
  <div class="courses">
    <div class="course-hero {% if page > 1 %}is-paginated{% endif %}">
      {% if page == 1 %}
        <h1>Tous les tutoriels</h1>
        <p>
          Envie d'apprendre de nouvelles choses et maitriser de nouvelles technologies ?<br>
          Alors vous êtes sur le bon chemin...
        </p>
      {% else %}
        <h1>Tous les tutoriels<em><br>page {{ page }}</em></h1>
      {% endif %}
    </div>
    {% for course in courses %}
      <article class="course">
        <div class="course__icons">
          {% for technology in course.mainTechnologies %}
            <a href="{{ path('technology_index', {slug: technology.slug}) }}" class="course__icon" tabindex="-1">
              <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
            </a>
          {% endfor %}
        </div>
        <h2 class="course__title">
          <a href="{{ path('course_show', {slug: course.slug, id: course.id}) }}" tabindex="-1">
            {{ course.title }}
          </a>
        </h2>
        <div class="course__content">
          {{ course.content | markdown | striptags | excerpt(130) }}
        </div>
        <a href="{{ path('course_show', {slug: course.slug, id: course.id}) }}" title="{{ course.title }}" class="course__link"></a>
        <footer></footer>
      </article>
    {% endfor %}
  </div>

  {{ knp_pagination_render(courses) }}
{% endblock %}
