{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block body %}

  {% cache [course, 'single'] %}

    <div class="container">
      {{ breadcrumb(course) }}
    </div>

    <div class="container layout-sidebar my4">
      <youtube-player
        video="{{ course.youtubeId }}"
        poster="{{ image_url(course.image) }}"
        title="{{ course.title }}"
        button="#chapter{{ course.id }} play-button"
        id="coursePlayer"
        class="shadow"></youtube-player>
      {% if course.formation %}
        <div style="overflow: auto; height: 100px;">
          {% include 'chapters/_summary.html.twig' with {chapters: course.formation.chapters, current: "#chapter" ~ course.id} only %}
        </div>
      {% endif %}
    </div>

    <div class="tabs-bar container">
        <a href="#">Demo1</a>
        <a href="#">Demo2</a>
    </div>

    <div class="flex">
      <div class="inline-1">
        {% if course.premium %}
          <div class="pill pill-yellow">Premium</div>
        {% endif %}
        <div class="pill pill-green">Facile</div>
      </div>
      <div class="inline-1">
        <a href="#" class="pill">
          {{ icon('lines') }}
          Voir la démo
        </a>
        {% if course.source is not empty %}
          <a href="#" class="pill">
            {{ icon('lines') }}
            Télécharger les sources
          </a>
        {% endif %}
        <a href="#" class="pill">
          {{ icon('video') }}
          Télécharger la vidéo
        </a>
      </div>
    </div>

    <div class="layout-sidebar">
      <div class="stack">
        <div class="formatted">
          <h1>{{ course.title }}</h1>

          {{ course.content | markdown }}
        </div>

        {% include 'partials/comments.html.twig' with {target: course} only %}
      </div>
      <div>
        <div class="stack-large">
          <div>
            <div class="requirements__title">Technologies utilisées</div>
            <div class="list-group">
              <a class="flex" href="#">Twig <span class="badge">3.0</span></a>
              <a class="flex" href="#">Composer <span class="badge">3.0</span></a>
              <a class="flex" href="#">PHP <span class="badge">3.0</span></a>
            </div>
          </div>
          <div>
            <div class="flex">
              <img class="author_avatar" src="https://www.grafikart.fr/uploads/avatars/1/1.jpg" alt=""
                   style="width: 50px;border-radius: 50px;">
              <div style="width: 100%; margin-left: 20px;">
                <strong style="font-weight: bold;">Auteur : </strong><br>
                <a title="Grafikart" class="author_name" href="/profil/1">Grafikart</a>
              </div>
            </div>
          </div>
          <div>
            <div class="requirements__title">Actions secondaires</div>
            <div class="stack">
              <button class="btn btn-big">Marquer comme lu</button>
              <button class="btn btn-big">Proposer une modification</button>
            </div>
          </div>
          <div>
            <div class="requirements__title">Partage social</div>
          </div>
        </div>
      </div>
    </div>

  {% endcache %}

  {% if course.formation %}
    {{ show_history(course.formation.courses) }}
  {% endif %}

{% endblock %}

