{% extends 'base.html.twig' %}

{% set user_premium = app.user and app.user.premium %}

{% block title %}
{% if course.formation %}
{{- course.title ~ " — Formation " ~ course.formation.title -}}
{% else %}
{{- "Tutoriel vidéo " ~ course.mainTechnologies|map(t => "#{t.name}")|join(' & ') ~ ' : ' ~ course.title -}}
{% endif %}
{% endblock %}

{% block body %}

  {% cache [course, 'single', user_premium, course.isScheduled] %}

    <div class="container">
      {{ breadcrumb(course) }}
    </div>

    <div class="container formatted mb3">
      <h1>
        {% if course.formation %}
          {{ "Formation " ~ course.formation.title ~ ' : ' ~ course.title }}
        {% else %}
          {{ "Tutoriel " ~ course.mainTechnologies|map(t => "#{t.name}")|join(' & ') ~ ' : ' ~ course.title }}
        {% endif %}
      </h1>
    </div>

    <div class="container">
      {% include 'courses/_deprecation.html.twig' with {class: 'mb3'} %}
    </div>

    <div class="container {{ course.formation ? 'course-top-sidebar' : '' }}">
      {% if course.scheduled and not user_premium %}
        <div class="course-countdown" style="background-image: url({{ image_url(course.image) }})">
          <div>
            <em>Disponible dans</em>
            <span class="course-countdown_timer">{{ course.createdAt | countdown }}</span>
          </div>
        </div>
      {% elseif course.premium and not user_premium %}
        <div class="course-countdown" style="background-image: url({{ image_url(course.image, 1330, 750) }})">
          <div>
            <p class="mb1">Contenu destiné aux membres premiums</p>
            <p>
              <a href="{{ path('premium') }}" class="btn-secondary">{{ icon('star') }} Devenir premium</a>
            </p>
          </div>
        </div>
      {% elseif (course.scheduled or course.premium) and user_premium %}
        <progress-tracker contentId="{{ course.id }}" data-history="{{ course.id }}" duration="{{ course.duration }}">
          <premium-player
            id="course-{{ course.id }}"
            video="{{ path('stream_video', {video: course.videoPath}) }}"
            poster="{{ image_url(course.image, 1330, 750) }}"
            duration="{{ course.duration | duration }}"
            button="#chapter{{ course.id }} play-button"
            class="shadow"></premium-player>
        </progress-tracker>
      {% else %}
      <progress-tracker contentId="{{ course.id }}" data-history="{{ course.id }}" duration="{{ course.duration }}">
        <youtube-player
          id="course-{{ course.id }}"
          video="{{ course.youtubeId }}"
          poster="{{ image_url(course.image, 1330, 750) }}"
          button="#chapter{{ course.id }} play-button"
          duration="{{ course.duration | duration }}"
          class="shadow"></youtube-player>
      </progress-tracker>
      {% endif %}
      {% if course.formation %}
        <div class="relative card">
          <button class="chapters-toggle">
            {{ icon('arrow-down') }}
          </button>
          <div class="absolute" is="auto-scroll" data-to="{{ current is defined ? current : "#chapter" ~ course.id }}">
            {% include 'chapters/_summary.html.twig' with {chapters: course.formation.chapters} only %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="container">

      <div class="course-actions py3">
        <div>
          {% if course.premium %}
            <div class="pill pill-yellow">Premium</div>
          {% endif %}
          {% include 'partials/level.html.twig' with {content: course} %}
        </div>
        <div>
          {% if course.demo %}
            <a href="{{ course.demo }}" class="pill" target="_blank"
               title="Démonstration du tutoriel {{ course.title }}">
              {{ icon('lines') }}
              Voir la démo
            </a>
          {% endif %}
          {% if course.source is not empty %}
            <a href="{{ path('course_download_source', {id: course.id}) }}" class="pill" data-turbolinks="false" {% if user_premium %}download="Sources {{ course.title }}" {% endif %}>
              {{ icon('lines') }}
              Télécharger les sources
            </a>
          {% endif %}
          <a href="{{ path('course_download_video', {id: course.id}) }}" class="pill" data-turbolinks="false" {% if user_premium %}download="{{ course.title }}" {% endif %}>
            {{ icon('video') }}
            Télécharger la vidéo
          </a>
        </div>
      </div>
    </div>

    <div class="course-page">

      {% if course.formation %}
      <nav-tabs class="course-tabs tabs-bar container bg-light">
        <a href="#content" aria-controls="content"  aria-selected="true">
          {{ icon('edit') }}
          Description
        </a>
        <a href="#sommaire" aria-controls="sommaire" >
          {{ icon('lines') }}
          Sommaire
        </a>
      </nav-tabs>
      {% endif %}

      <div class="container py5" id="content">

        <div class="layout-sidebar">
          <div class="stack">

            <div class="h2" aria-hidden="true">{{ course.title }}</div>

            {% include 'courses/_deprecation.html.twig' with {class: 'mb0'} %}

            <div class="formatted">
              {{ course.content | markdown }}
            </div>

            {% include 'partials/comments.html.twig' with {target: course} only %}
          </div>
          <div>
            <div class="stack-large">
              <div class="text-right">
                <small class="text-muted">
                  Publié {{ course.createdAt | ago }}
                </small>
              </div>
              <div>
                <div class="requirements__title">Technologies utilisées</div>
                <div class="list-group">
                  {% for technology in course.mainTechnologies %}
                    <a class="flex" href="{{ path(technology) }}">
                      {{ technology.name }}
                      {% if technology.version %}
                        <span class="badge">{{ technology.version }}</span>
                      {% endif %}
                    </a>
                  {% endfor %}
                </div>
              </div>
              <div>
                <div class="flex">
                  <img class="author_avatar" src="{{ course.author | avatar }}" alt=""
                       style="width: 50px;border-radius: 50px;">
                  <div style="width: 100%; margin-left: 20px;">
                    <strong style="font-weight: bold;">Auteur : </strong><br>
                    <a title="Grafikart" class="author_name" href="{{ path(course.author) }}">{{ course.author.username }}</a>
                  </div>
                </div>
              </div>
              <div>
                <div class="requirements__title">Partager</div>
                <a href="https://twitter.com/intent/tweet?via=grafikart_fr&tw_p=tweetbutton&url={{ url(course) | url_encode }}" is="social-share" target="_blank">
                  <img src="/images/social/twitter.svg" alt="">
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url(course) | url_encode }}" is="social-share" target="_blank">
                  <img src="/images/social/facebook.svg" alt="">
                </a>
              </div>
              <admin-edit hidden></admin-edit>
            </div>
          </div>
        </div>
      </div>

      {% if course.formation %}
      <div class="container" id="sommaire" hidden>
          {% include 'chapters/_summary.html.twig' with {chapters: course.formation.chapters} only %}
      </div>
      {% endif %}

    </div>
  {% endcache %}

  {% if course.formation and app.user %}
    {{ show_history(course.formation.courses) }}
  {% endif %}

{% endblock %}

{% block javascripts %}
  {% if is_granted('ADMIN') %}
    <script>
      window.grafikart = {
        EDIT_LINK: "{{ path('admin_course_edit', {id: course.id}) }}"
      }
    </script>
  {% endif %}
  {{ parent() }}
{% endblock %}

{% block javascripts_footer %}
  <script>
    (function () {
      const toggle = document.querySelector('.chapters-toggle')
      const container = document.querySelector('.course-top-sidebar')
      if (toggle) {
        toggle.addEventListener('click',function () {
          container.classList.toggle('is-folded')
        })
      }
    })()
  </script>
{% endblock %}
