{% extends 'base.html.twig' %}

{% block body %}

  <header class="wave-header">
    <div class="wave-header__body stack">
      <h1 class="wave-header__title">{{ technology.name }}</h1>
      <p>{{ technology.content }}</p>
    </div>
    <div class="wave-header__image">
      <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
    </div>
    <waves-shape class="waves" position="bottom" target=".wave-header"></waves-shape>
  </header>

  <div class="container flex start hstack">

    <div class="stack mt3" style="--gap:10; width: 75%; flex: none;">

      <section class="stack" style="--gap:7">
        {% if formations[0] %}
          <div class="stack">
            <h2 class="h3"><strong>Apprendre</strong> les bases</h2>
            {% for formation in formations[0] %}
              {% include 'formations/_card-large.html.twig' %}
            {% endfor %}
          </div>
        {% endif %}
        {% if formations[1] is defined or formations[2] is defined %}
          <div class="stack">
            <h2 class="h3">Se <strong>perfectionner</strong></h2>
            {% if formations[1] is defined %}
              {% for formation in formations[1] %}
                {% include 'formations/_card-large.html.twig' %}
              {% endfor %}
            {% endif %}
            {% if formations[2] is defined %}
              {% for formation in formations[2] %}
                {% include 'formations/_card-large.html.twig' %}
              {% endfor %}
            {% endif %}
          </div>
        {% endif %}
      </section>

    </div>

    <div>
      <div class="h3"><strong>Ce qu'il faut connaitre</strong></div>
      <p>
        Avant de pouvoir apprendre PHP il est important d'avoir acquis les connaissances suivantes.
      </p>
      <ul class="list">
      {% for technology in technology.requirements %}
          <li><a href="{{ path(technology) }}">{{ technology.name }}</a></li>
      {% endfor %}
      </ul>

      <div class="h3"><strong>Que faire après ?</strong></div>
      {% for category, technologies in next %}
        <div class="h4">{{ category }}</div>
        <ul class="list">
          {% for technology in technologies %}
          <li><a href="{{ path(technology) }}">{{ technology.name }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>




{% endblock %}

