{% set headerWhite = true %}

{% extends 'base.html.twig' %}

{% block title 'Réinitialisation du mot de passe' %}

{% block body %}
  <div class="sub-header">
    <div class="auth-container">
      <h1 class="auth-title fade">Redéfinir mon mot de passe</h1>

      {% if error %}
        <alert-message type="danger">
          {{ error.messageKey | trans(error.messageData, 'security') }}
        </alert-message>
      {% endif %}

      {{ form_start(form, {attr: {class: 'auth-form fade fade-1'}}) }}
      {{ form_row(form.password.first, {label: 'Nouveau mot de passe'}) }}
      {{ form_row(form.password.second, {label: 'Confirmer le nouveau mot de passe'}) }}
      <button type="submit" class="btn-gradient">Réinitialiser mon mot de passe</button>
      {{ form_end(form) }}
    </div>
    <waves-shape></waves-shape>
  </div>
{% endblock %}
