<article class="card">
  <div class="card__body stack" style="--gap:1">
    <div class="h4">{{ podcast.title }}</div>
    <div class="text-muted text-small">{{ podcast.scheduledAt | ago }}</div>
    <div class="card__description mb2">{{ podcast.excerpt }}</div>
  </div>
  <footer class="card__footer text-small mta">
    <div class="card__avatars avatars">
      {% for user in podcast.intervenants %}
      <a href="{{ path('user_show', {id: user.id}) }}" class="avatar" title="{{ user.username }}">
        <img src="{{ user | avatar }}" alt="{{ user.username }}">
      </a>
      {% endfor %}
    </div>
    <div>
      {{ icon('clock', 14) }} {{ podcast.duration | duration }}
    </div>
  </footer>
</article>
