{% extends 'base.html.twig' %}

{% block title 'Suggestion Podcasts' ~ ((page > 1) ? (', page ' ~ page) : '') %}

{% block body %}
  <div class="container py5">
    <section class="stack" style="--gap:4">
      <h2 class="h2">Proposer les futurs sujets de discussion</h2>

      <nav class="nav-card">
        <a href="{{ path('podcast_vote', {order: 'popular'}) }}" {% if order == 'popular' %}aria-selected="true"{% endif %}>Les plus populaires</a>
        <a href="{{ path('podcast_vote', {order: 'date'}) }}" class="active" {% if order != 'popular' %}aria-selected="true"{% endif %}>Les plus récents</a>
      </nav>
      <div class="stack" style="--gap:4">
        {% for podcast in podcasts %}
          <article class="podcast-suggestion">
            <podcast-vote
              class="podcast-suggestion__vote"
              data-endpoint="{{ path('api_podcast_vote', {id: podcast.id}) }}"
              {% if podcast.id in votes or (app.user and app.user.id == podcast.author.id) %}aria-selected="true"{% endif %}
            >
              <strong>{{ podcast.votesCount }}</strong>
              votes
              <span class="podcast-suggestion__action">
                {{ podcast.id in votes ? 'votes--' : 'votes++' }}
              </span>
            </podcast-vote>
            <div class="podcast-suggestion__body">
              <h3 class="podcast-suggestion__title">{{ podcast.title }}</h3>
              <p>Suggéré par <a
                  href="{{ path('user_show', {id: podcast.author.id}) }}">{{ podcast.author.username }}</a>, <span
                  class="text-muted">{{ podcast.createdAt | ago }}</span></p>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>

    {{ paginate(podcasts) }}

  </div>
{% endblock %}

