{% extends 'base.html.twig' %}

{% block title 'Cursus ' ~ cursus.title %}

{% block body %}

  <header class="wave-header">
    <div class="wave-header__body stack">
      <h1 class="wave-header__title">{{ cursus.title }}</h1>
      <p>{{ cursus.content }}</p>
    </div>
    <waves-shape class="waves" position="bottomWave" target=".wave-header" background="{{ image_url(cursus.image) }}" ></waves-shape>
  </header>

  <div class="cursus-page stack py5">
    {% for chapter in cursus.chapters %}
      <section class="stack">
        <h2 class="h2 cursus-page__chapter"><span class="text-muted">{{ loop.index }}.</span> {{ chapter.title }}</h2>
        <div class="courses">
          {% for module in chapter.modules %}
            {% if module.isCourse %}
              {% include 'courses/_card.html.twig' with {course: module} %}
            {% else %}
              {% include 'formations/_card.html.twig' with {formation: module} %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </div>

{% endblock %}

{% block javascripts %}
  {% if is_granted('ADMIN') %}
    <script>
      window.grafikart = {
        EDIT_LINK: "{{ path('admin_cursus_edit', {id: cursus.id}) }}"
      }
    </script>
  {% endif %}
  {{ parent() }}
{% endblock %}
