{% extends 'base.html.twig' %}

{% set bodyClass = 'header-light' %}

{% block title 'Cursus ' ~ cursus.title %}

{% block body %}

  <header class="page-header container cursus-header">
    <div>
      <h1 class="h1 mb2">{{ cursus.title }}</h1>
      <p>{{ cursus.content }}</p>
    </div>
    {% if false %}
      <div class="text-center">
        <img src="/images/illustrations/php.svg" alt="">
      </div>
    {% else %}
      <div class="cursus-header__technologies">
        {% for technology in cursus.mainTechnologies %}
          <a href="{{ path('technology_show', {slug: technology.slug}) }}" class="course__icon" tabindex="-1">
            <img src="{{ uploads_path('icons/' ~ technology.image) }}" alt="{{ technology.name }}">
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </header>

  <div class="cursus-page stack py5">
    {% for chapter in cursus.chapters %}
      <section class="stack">
        <h2 class="h2 cursus-page__chapter"><span class="text-muted">{{ loop.index }}.</span> {{ chapter.title }}</h2>
        <div class="courses">
          {% for module in chapter.modules %}
            {% if module.isCourse %}
              {% include 'courses/_card.html.twig' with {course: module} %}
            {% else %}
              {% include 'formations/_card.html.twig' with {formation: module} %}
            {% endif %}
          {% endfor %}
        </div>
      </section>
    {% endfor %}
  </div>

{% endblock %}

{% block javascripts %}
  {% if is_granted('ADMIN') %}
    <script>
      window.grafikart = {
        EDIT_LINK: "{{ path('admin_cursus_edit', {id: cursus.id}) }}"
      }
    </script>
  {% endif %}
  {{ parent() }}
{% endblock %}
