{% cache [topic, 'card'] %}
  <div class="forum-topic{% if topic.solved %} is-solved{% endif %}">
    <div class="forum-avatar">
      <img src="{{ topic.author | avatar }}" alt="">
    </div>
    <div class="forum-topic__body">
      <a class="forum-topic__title" href="{{ path(topic) }}">{{ topic.name }}</a>
      <div class="forum-topic__meta">
        <div class="forum-topic__tags">
          {% for tag in topic.tags %}
            {% if tag.parent %}
              <a href="{{ path(tag) }}" class="badge" style="background-color: {{ tag.parent.color }}">{{ tag.parent.name }}</a>
            {% endif %}
            <a href="{{ path(tag) }}" class="badge">{{ tag.name }}</a>
          {% endfor %}
        </div>
        {% if topic.lastMessage %}
          {{icon('reply')}} <a
          href="{{ path(topic.lastMessage.author) }}">{{ topic.lastMessage.author.username }}</a>, {{ topic.lastMessage.createdAt | ago }}
        {% else %}
          <a
          href="{{ path(topic.author) }}">{{ topic.author.username }}</a>, {{ topic.createdAt | ago }}
        {% endif %}
      </div>
    </div>
    <div class="forum-topic__count">
      {{ icon('comments') }}
      {{ topic.messageCount }}
    </div>
    <a href="{{ path(topic) }}" aria-hidden="true" class="forum-topic__link" tabindex="-1"></a>
  </div>
{% endcache %}
