{% cache [topic] %}
  <div class="forum-topic{% if topic.solved %} is-solved{% endif %}" id="topic-{{ topic.id }}">
    <div class="forum-avatar">
      <img src="{{ topic.author | avatar }}" alt="">
    </div>
    <div class="forum-topic__body">
      <a class="forum-topic__title" href="{{ path(topic) }}">{{ topic.name }}</a>
      <div class="forum-topic__meta">
        <div class="forum-topic__tags">
          {% include 'forum/_tags.html.twig' with {tags: topic.tags} only %}
        </div>
        {% if topic.lastMessage %}
          {{icon('reply')}} <a
          href="{{ path(topic) }}#message-{{ topic.lastMessage.id }}">{{ topic.lastMessage.author.username }}</a>, {{ topic.lastMessage.createdAt | ago }}
        {% else %}
          <a
          href="{{ path(topic) }}">{{ topic.author.username }}</a>, {{ topic.createdAt | ago }}
        {% endif %}
      </div>
    </div>
    <div class="forum-topic__count">
      {{ icon('comments') }}
      {{ topic.messageCount }}
    </div>
    <a href="{{ path(topic) }}" aria-hidden="true" class="forum-topic__link" tabindex="-1"></a>
  </div>
{% endcache %}
