{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block title 'Forum' %}

{% block body %}

<div class="container page-header flex">
  <h1 class="hero-title">Forum</h1>
  <div class="form-group flex" style="width: 100%; margin-left: 70px;">
    <input type="text" name="q" placeholder="Rechercher un sujet">
    <button type="submit" class="btn-primary">Rechercher</button>
  </div>
</div>

<div class="forum-page bg py3">
  <div class="forum-page__sidebar stack">
    <a href="{{ path('forum_new') }}" class="btn-primary">Nouveau sujet</a>
    <ul class="forum-tags">
      <li>
        <a href="{{ path('forum') }}">
          Tous les sujets
        </a>
      </li>
      {#
      {% for tag in tags %}
        <li>
          <a href="{{ path(tag) }}">
            <img src="/icons/{{ tag.name | lower }}.svg" alt="" width="16" height="16">
            {{ tag.name }}
          </a>
          <ul>
            {% for t in tag.children %}
              <li>
                <a href="{{ path(t) }}">
                  {{ t.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
      #}
    </ul>
  </div>

  <main class="forum-page__main stack">

    {% for topic in topics %}
      {% include('forum/_topic.html.twig') %}
    {% endfor %}
  </main>
</div>

<script>
  // On marque les sujet comme lu (on isole cette partie afin de pouvoir mettre en cache le reste de la page)
  (function () {
    const ids = {{ read_times | json_encode }}
    const elements = ids.map(id => document.getElementById(`topic-${id}`))
    Array.from(elements).forEach(el => {
      el.classList.add('is-read')
    })
  })()
</script>
{% endblock %}


