{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block title 'Forum' ~ (current_tag ? ', ' ~ current_tag.name : '') ~ ((page > 1) ? (', page ' ~ page) : '')  %}

{% block body %}

  <div class="container page-header forum-header">
    <h1 class="hero-title" style="white-space: nowrap">Forum{% if current_tag %}, {{ current_tag.name }}{% endif %}</h1>
    {% include 'forum/_searchform.html.twig' %}
  </div>

  <div class="forum-page bg py3">
    {% if tags | length > 0 %}
      <div class="forum-page__sidebar stack">
        {% if app.user %}
        <a href="{{ path('forum_new') }}" class="btn-primary forum-page__sidebar-btn">
          Nouveau sujet
          {{ icon('plus') }}
        </a>
        {% endif %}
        <ul class="forum-tags">
          <li>
            <a href="{{ path('forum') }}">
              Tous les sujets
            </a>
          </li>
          {% for tag in tags %}
            <li>
              <a href="{{ path(tag) }}" {% if tag == current_tag %}aria-selected="true" {% endif %}>
                <span style="background-color:{{ tag.color }};"></span>
                {{ tag.name }}
              </a>
              <ul>
                {% for t in tag.children %}
                  <li>
                    <a href="{{ path(t) }}" {% if t == current_tag %}aria-selected="true" {% endif %}>
                      {{ t.name }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <main class="forum-page__main stack">
      <div class="flex flex-end">
        <forum-read endpoint="{{ path('api_forum/read_all') }}"></forum-read>
      </div>
      {% for topic in topics %}
        {% include('forum/_topic.html.twig') %}
      {% endfor %}

      {{ paginate(topics) }}
    </main>
  </div>

  {% if app.user %}
  <script>
    // On marque les sujet comme lu (on isole cette partie afin de pouvoir mettre en cache le reste de la page)
    (function () {
      const ids = {{ read_times | json_encode }}
      const elements = ids.map(id => document.getElementById(`topic-${id}`))
      Array.from(elements).forEach(el => {
        el.classList.add('is-read')
      })
    })()
  </script>
  {% endif %}
{% endblock %}


