{% extends 'base.html.twig' %}

{% set bodyClass = 'light' %}

{% block title topic.name %}

{% block body %}

  <div class="page-header container">
    <h1 class="h2 mb2">{{ topic.name }}</h1>
    <div class="flex flex-start">
      <a href="{{ path(topic.author) }}" class="flex underline flex-start mr1">
        <img src="{{ topic.author | avatar }}" alt="" class="rounded mr1" width="25">
        {{ topic.author.username }}
      </a>
      <small class="text-muted">
        , {{ topic.createdAt | ago }}
        <forum-edit topic="{{ topic.id }}" owner="{{ topic.author.id }}"></forum-edit>
        <forum-delete topic="{{ topic.id }}" owner="{{ topic.author.id }}"></forum-delete>
      </small>
    </div>
  </div>

  <div class="container bg stack topic-page py5">

    <div class="forum-message">
      <div class="forum-message__body">
        <div class="js-content formatted formatted">
          {{ topic.content | markdown_untrusted }}
        </div>
        <div class="js-forum-edit"></div>
      </div>
      <forum-report
        topic="{{ topic.id }}"
        class="forum-message__actions"></forum-report>
    </div>

    <h2 class="section-title">{{ topic.messageCount }} Réponses</h2>

    <div class="forum-messages">
      {% for message in messages %}
        {% include 'forum/_message.html.twig' %}
      {% endfor %}
      <forum-create-message topic="{{ topic.id }}"></forum-create-message>
    </div>

  </div>

{% endblock %}
