{% extends 'base.html.twig' %}

{% block title %}Live{% endblock %}

{% block body %}

  <div class="live-current">
    {% if live %}
      {% if on_air %}
      <h1 class="live-current__title">Live en cours<em class="text-muted">, {{ live.createdAt | ago('depuis') }}</em></h1>
      {% else %}
        <h1 class="live-current__title">Prochain live<em class="text-muted">, {{ live.createdAt | ago }}</em></h1>
      {% endif %}

      <div class="live-current__body">
        <youtube-player video="{{ live.youtubeId }}"></youtube-player>
        <iframe src="https://discordapp.com/widget?id=85154866468487168&theme=light&username="></iframe>
      </div>
    {% endif %}
  </div>

  <live-recap class="live-recap" path="{{ path('live') }}">
    <div class="live-recap__header">
      <h1 class="live-recap__title">Revoir les précédents lives</h1>
      <p>
        Les lives permettent de discuter de certaines choses qui ne pourraient pas être traitée en vidéo. C’est
        aussi l’occasion de poser vos questions et d’avoir des avis à chaud sur certaines tendances et
        technologies.
      </p>
      <a href="https://www.youtube.com/user/grafikarttv?sub_confirmation=1" class="btn-primary btn-big">Me suivre sur youtube</a>
    </div>
    <div>
      <div class="live-years">
        {% for y in years %}
          <a href="{{ path('live', {year: y}) }}" {% if year == y %}class="is-active"{% endif %}>{{ y }}</a>
        {% endfor %}
      </div>
      <div class="live-list">
        {% for live in lives %}
          {% include 'live/_card.html.twig' %}
        {% endfor %}
      </div>
    </div>
  </live-recap>

{% endblock %}
