{% extends 'base.html.twig' %}

{% block title 'Live' %}

{% block body %}

  <div class="live-current">

      {% if on_air %}
        <h1 class="live-current__title">Live en cours<em class="text-muted"></h1>
      {% elseif live_future %}
        <h1 class="live-current__title">Prochain live<em class="text-muted">, {{ live_at | format_datetime(pattern="eeee dd MMMM à HH:mm") }}</em></h1>
      {% endif %}

    <div class="live-current__body">
      <iframe src="https://player.twitch.tv/?channel=grafikart&parent={{ app.request.host }}" frameborder="0" allowfullscreen="true" scrolling="no"></iframe>
      <iframe id="chat_embed" src="https://www.twitch.tv/embed/grafikart/chat?darkpopout&parent={{ app.request.host }}" height="500" width="350"> </iframe>
    </div>
  </div>

  <live-recap class="live-recap mb5" path="{{ path('live') }}">
    <div class="live-recap__header">
      <h1 class="live-recap__title">Revoir les <strong>précédents</strong> lives</h1>
      <p>
        Les lives permettent de discuter de certains sujets qui ne pourraient pas être traitée en vidéo. C’est
        aussi l’occasion de poser vos questions et d’avoir des avis à chaud sur certaines tendances et
        technologies.
      </p>
      <a href="https://www.youtube.com/user/grafikarttv?sub_confirmation=1" class="btn-big btn-primary-outlined">Me suivre sur youtube</a>
    </div>
    <div>
      <div class="live-years">
        {% for y in years %}
          <a href="{{ path('live', {year: y}) }}" {% if year == y %}class="is-active"{% endif %}>{{ y }}</a>
        {% endfor %}
      </div>
      <div class="live-list">
        {% for live in lives %}
          {% include 'live/_card.html.twig' %}
        {% endfor %}
      </div>
    </div>
  </live-recap>

{% endblock %}
